In [1]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df1

  key1 key2     data1     data2
0    a  one  0.206732  0.319098
1    a  two  0.602639 -0.723234
2    b  one  1.211321 -0.260975
3    b  two  0.904022  1.070933
4    a  one  0.916854 -0.122559

In [3]:
df2 = df1.groupby(by = ["key1","key2"]).sum()
display(df2)

              data1     data2
key1 key2
a    one   1.123587  0.196539
     two   0.602639 -0.723234
b    one   1.211321 -0.260975
     two   0.904022  1.070933